.app-content.store {
  .container {
    flex-direction: column;
    align-items: stretch;
    padding-top: 30px;
    flex-wrap: wrap;
    &.error {
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  .listing-container {
    position: static;
    a {
      position: static;
    }
  }
  .course-listing {
    background-attachment: fixed;
    background-color: #212730;
    background-image: url(../../img/dark-blur.png);
    background-position: center center;
    background-repeat: repeat-x;
    min-height: 120px;
    padding: 8px 18px 8px 8px;
    border-radius: 70px 36px 36px 70px;
    margin: 18px 27px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: all 500ms;
    will-change: margin, border;
    box-shadow: 0 0px 0 rgba(83, 217, 233, 0.5);
    color: #9fa7ae;

    &.active {
      border-bottom-left-radius: 36px;
      color: white;
      box-shadow: 0 0 20px rgba(83, 217, 233, 0.5);
    }
    .picture {
      background: linear-gradient(
        135deg,
        #adbdc2 0%,
        #747e81 40%,
        #5d6568 100%
      );
      flex: none;
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        &.locked {
          background-image: url(../../img/padlock.png);
          background-size: contain;
          width: 50%;
          height: 50%;
        }
        background-image: url(../../img/default-course.png);
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
    &.bought {
      // cursor: auto;
      .picture {
        background: linear-gradient(
          135deg,
          #87e0fd 0%,
          #53cbf1 40%,
          #05abe0 100%
        );
      }
    }

    .content {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .strikethrough {
        position: relative;
      }
      .strikethrough:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 5px solid;
        border-color: red;
        transform: rotate(20deg);
      }
      & .title {
        flex: 0;
      }
      & .detail {
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        & > div {
          flex: 1;
        }
      }
    }

    .action-button {
      background: #fb114b;
      cursor: pointer;
      text-transform: uppercase;
      color: white;
      border: none;
      height: 40px;
      border-radius: 20px;
      padding: 10px 20px;
      margin-top: 10px;
    }
  }
}
