.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-attachment: fixed;
  background-color: #283039;
  background-image: url(../../img/dark.png);
  background-position: center center;
  background-repeat: repeat-x;
  color: #fff;

  .app-content {
    flex: 1;
    overflow-y: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .app-header,
  .app-footer {
    background-attachment: fixed;
    background-color: #283039;
    background-image: url(../../img/dark-blur.png);
    background-position: center center;
    background-repeat: repeat-x;
    padding: 0;
    .container {
      flex-direction: row;
      height: 100%;
    }
  }

  .container {
    max-width: 1127px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
  }

  .app-header {
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    h1 {
      line-height: 36px;
      width: 100%;
      margin: 18px 27px;
    }
  }

  .app-footer {
    line-height: 36px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    .container {
      padding: 5px 27px;
      justify-content: space-between;
    }
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#drift-widget-container iframe {
  bottom: 44px !important;
}
